@import "_variables";

body {
  background-color: $body-color;
  margin: 0;
  color: $text-color;
  font-family: $font;
}

header {
  margin-bottom: $footer-header-margin;
}
.images-content h1{
  position: relative;
}

.images-content{
  margin: 0;
}


.img-home, .img-serie,.img-followers {
  position: absolute;
  width: 100%; /* zijn dat geen default attributen? */
  clip: rect(10px,1920px,800px,0px);
}

.img-serie{
  top: 800px;
}

.img-followers{
  top: 1580px;
}


.btnLogin, .btnSignUp {
  color: $text-color;
  font-family: $font;
  padding: 10px;
  border: 2px solid $footer-color;
  position: relative;
  font-size: 22px;


  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.series{
  position: relative;

}
.btnLogin {
  background-color: $button-color-default;
  left: 210px;
}

.btnSignUp {
  background-color: $nav-color;

}


footer {
  margin-top: $footer-header-margin;
  background-color: $footer-color;
  height: 200px;
  position: fixed;
  width: 100%;
  bottom: 0;

  p {
    text-align: center;
    padding: 85px;
    font-size: 20px;
  }
}
