<div class="container-fluid">
    <div class="container">
        <nav class="special-effect">
            <div class="col-sm-3 col-sm-offset-1">
                <a href="#" data-hover="Newest">Newest</a>
            </div>
            <div class="col-sm-4">
                <a href="#" data-hover="Trending" class="active-title">Trending</a>
            </div>
           <div class="col-sm-3 col-sm-offset-1">
               <a href="#" data-hover="Popular">Popular</a>
           </div>

        </nav>
    </div>


    <div class="row">
        <div class="col-sm-6 col-big">
            <a href="#"><img [src]="imageSerieBigLeft" alt="Serie Title"/></a>
            <a href="#" class="more-series">See more series <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
            <div class="shadow">
                <h3>Suits<span class="glyphicon glyphicon-eye-open"></span><span class="glyphicon glyphicon-list"></span></h3>

            </div>
        </div>
        <div class="col-sm-6 col-big">
            <a href="#"><img [src]="imageSerieBigRight" alt="Serie Title"/></a>
            <a href="#" class="more-series">See more series <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
            <div class="shadow">
                <h3>Chance<span class="glyphicon glyphicon-eye-open"></span><span class="glyphicon glyphicon-list"></span></h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-3 col-sm-6 col-xs-12 col-small">
            <a href="#"><img [src]="imageSerieRow" alt="Serie Title"/></a>
            <div class="shadow-small">
                <h3>The Flash<span class="glyphicon glyphicon-eye-open eye-small"></span><span class="glyphicon glyphicon-list list-small"></span></h3>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-sm-6 col-xs-12 col-small">
            <a href="#"><img [src]="imageSerieRowSecond" alt="Serie Title"/></a>
            <div class="shadow-small">
                <h3>Game Of Thrones<span class="glyphicon glyphicon-eye-open eye-small"></span><span class="glyphicon glyphicon-list list-small"></span></h3>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-sm-6 col-xs-12 col-small">
            <a href="#"><img [src]="imageSerieRowThird" alt="Serie Title"/></a>
            <div class="shadow-small">
                <h3>Hannibal<span class="glyphicon glyphicon-eye-open eye-small"></span><span class="glyphicon glyphicon-list list-small"></span></h3>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-sm-6 col-xs-12 col-small">
            <a href="#"><img [src]="imageSerieRowFourth" alt="Serie Title"/></a>
            <div class="shadow-small">
                <h3>The Walking Dead<span class="glyphicon glyphicon-eye-open eye-small"></span><span class="glyphicon glyphicon-list list-small"></span></h3>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-sm-6 col-xs-12 col-small">
            <a href="#"><img [src]="imageSerieSecondRow" alt="Serie Title"/></a>
            <div class="shadow-small">
                <h3>Dexter<span class="glyphicon glyphicon-eye-open eye-small"></span><span class="glyphicon glyphicon-list list-small"></span></h3>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-sm-6 col-xs-12 col-small">
            <a href="#"><img [src]="imageSerieSecondRowSecond" alt="Serie Title"/></a>
            <div class="shadow-small">
                <h3>Silicon Valley<span class="glyphicon glyphicon-eye-open eye-small"></span><span class="glyphicon glyphicon-list list-small"></span></h3>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-sm-6 col-xs-12 col-small">
            <a href="#"><img [src]="imageSerieSecondRowThird" alt="Serie Title"/></a>
            <div class="shadow-small">
                <h3>The 100<span class="glyphicon glyphicon-eye-open eye-small"></span><span class="glyphicon glyphicon-list list-small"></span></h3>
            </div>
        </div>
        <div class="col-md-4 col-lg-3 col-sm-6 col-xs-12 col-small">
            <a href="#"><img [src]="imageSerieSecondRowFourth" alt="Serie Title"/></a>
            <div class="shadow-small">
                <h3>Breaking Bad<span class="glyphicon glyphicon-eye-open eye-small"></span><span class="glyphicon glyphicon-list list-small"></span></h3>
            </div>
        </div>
    </div>

</div>