<div class="container-fluid">
    <div class="container">
        <nav class="submenu">
            <div class="col-md-4" *ngFor="let list of lists"> 
                <a data-hover="list.name" [class.active]="list.name === activeList" (click)="activeList = list.name">{{list.name}}</a>
            </div>
        </nav>
    </div>

    <div class="row"> 
        <wfseries *ngFor="let list of lists" [style.display]="list.name === activeList ? 'block' : 'none'"
            [(series)]="list.results" [apiUrl]="list.apiRequest" [(page)]="list.page" [(totalPages)]="list.totalPages"></wfseries>
    </div>
</div>