<div class="container-fluid">
    <div class="container">
        <nav class="submenu">
            <div class="col-md-4">
                <a href="#" data-hover="Newest">Newest</a>
            </div>
            <div class="col-md-4">
                <a href="#" data-hover="Trending" class="shadow-submenu_active">Trending</a>
            </div>
           <div class="col-md-4">
               <a href="#" data-hover="Popular">Popular</a>
           </div>
        </nav>
    </div>

    <div class="row">
        <div class="seriescontainer seriescontainer-big">
            <a href="#" class="seriescontainer_wrapper"><img [src]="imageSerieBigLeft" alt="Serie Title" class="image-responsive"/></a>
            <div class="seriescontainer_content">
                <h3>Suits</h3>
                <p><span class="glyphicon glyphicon-eye-open"></span><span class="glyphicon glyphicon-list"></span></p>
            </div>
        </div>
        <div class="seriescontainer seriescontainer-big">
            <a href="#" class="seriescontainer_wrapper"><img [src]="imageSerieBigRight" alt="Serie Title"/></a>
            <div class="seriescontainer_content">
                <h3>Chance</h3>
                <p><span class="glyphicon glyphicon-eye-open"></span><span class="glyphicon glyphicon-list"></span></p>
            </div>
        </div>
        <div class="seriescontainer">
            <a href="#" class="seriescontainer_wrapper"><img [src]="imageSerieRow" alt="Serie Title"/></a>
            <div class="seriescontainer_content">
                <h3>The Flash</h3>
                <p><span class="glyphicon glyphicon-eye-open eye-small"></span><span class="glyphicon glyphicon-list list-small"></span></p>
            </div>
        </div>
        <div class="seriescontainer">
            <a href="#" class="seriescontainer_wrapper"><img [src]="imageSerieRowSecond" alt="Serie Title"/></a>
            <div class="seriescontainer_content">
                <h3>Game Of Thrones</h3>
                <p><span class="glyphicon glyphicon-eye-open eye-small"></span><span class="glyphicon glyphicon-list list-small"></span></p>
            </div>
        </div>
        <div class="seriescontainer">
            <a href="#" class="seriescontainer_wrapper"><img [src]="imageSerieRowThird" alt="Serie Title"/></a>
            <div class="seriescontainer_content">
                <h3>Hannibal</h3>
                <p><span class="glyphicon glyphicon-eye-open eye-small"></span><span class="glyphicon glyphicon-list list-small"></span></p>
            </div>
        </div>
        <div class="seriescontainer">
            <a href="#" class="seriescontainer_wrapper"><img [src]="imageSerieRowFourth" alt="Serie Title"/></a>
            <div class="seriescontainer_content">
                <h3>The Walking Dead</h3>
                <p><span class="glyphicon glyphicon-eye-open eye-small"></span><span class="glyphicon glyphicon-list list-small"></span></p>
            </div>
        </div>
        <div class="seriescontainer">
            <a href="#" class="seriescontainer_wrapper"><img [src]="imageSerieSecondRow" alt="Serie Title"/></a>
            <div class="seriescontainer_content">
                <h3>Dexter</h3>
                <p><span class="glyphicon glyphicon-eye-open eye-small"></span><span class="glyphicon glyphicon-list list-small"></span></p>
            </div>
        </div>
        <div class="seriescontainer">
            <a href="#" class="seriescontainer_wrapper"><img [src]="imageSerieSecondRowSecond" alt="Serie Title"/></a>
            <div class="seriescontainer_content">
                <h3>Silicon Valley</h3>
                <p><span class="glyphicon glyphicon-eye-open eye-small"></span><span class="glyphicon glyphicon-list list-small"></span></p>
            </div>
        </div>
        <div class="seriescontainer">
            <a href="#" class="seriescontainer_wrapper"><img [src]="imageSerieSecondRowThird" alt="Serie Title"/></a>
            <div class="seriescontainer_content">
                <h3>The 100</h3>
                <p><span class="glyphicon glyphicon-eye-open eye-small"></span><span class="glyphicon glyphicon-list list-small"></span></p>
            </div>
        </div>
        <div class="seriescontainer">
            <a href="#" class="seriescontainer_wrapper"><img [src]="imageSerieSecondRowFourth" alt="Serie Title"/></a>
            <div class="seriescontainer_content">
                <h3>Breaking Bad</h3>
                <p><span class="glyphicon glyphicon-eye-open eye-small"></span><span class="glyphicon glyphicon-list list-small"></span></p>
            </div>
        </div>
    </div>


</div>