@import "../../_variables";
@import "../sheared/serieslist";

// sub menu: newest, trending, popular
.submenu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  @media (max-width: $screen-sm) {
    font-size: 0.6em;
  }

  .shadow-submenu_active {
    border-bottom: 2px solid $button-color-default;
  }

  a {
    padding: 10px 0;
    position: relative;
    display: inline-block;
    margin: 15px 25px;
    color: $text-color;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 2em;

    &:not(.shadow-submenu_active){
      // lijntje dat erbij komt als je erover howert.
      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background: $button-color-default;
        opacity: 0;
        transform: translateY(5px);
        transition: transform 0.3s, opacity 0.3s;
        pointer-events: none;
      }
      &:hover::after, &:focus::after {
        opacity: 1;
        transform: translateY(0px);
      }
    }
  }
}

