@import "../../_variables";
@import "../shared/submenu";

.tab-pane.active {
   display: inline;
}

ul.nav.nav-tabs{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  li.nav-item {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
