<div class="container-fluid">
    <div class="row bg-splice">
        <img [src]="backgroundProfile" alt="Profile Background"/>
    </div>

    <div class="container">
        <div class="container-profile">
            <img [src]="user.picture | userImage" alt="Profile"/>
            <h4>Choose a different photo:</h4>
            <div class="fileUpload btn btn-success btn-lg">
                <span><span class="glyphicon glyphicon-camera"></span> Upload new image</span>
                <input type="file" class="upload" />
            </div>
        </div>
    </div>

   <wfshadow></wfshadow>

    <div class="container">
        <div class="row">
            <form class="form-horizontal" role="form" #form="ngForm" (ngSubmit)="submit($event, form)" novalidate>
                <div class="form-group">
                    <label class="col-md-3 control-label">First name:</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" [(ngModel)]="model.name.givenName" name="firstname"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Last name:</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" [(ngModel)]="model.name.familyName" name="lastname"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Email:</label>
                    <div class="col-md-8">
                        <input class="form-control" type="email" [(ngModel)]="model.email" name="email"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">New Password:</label>
                    <div class="col-md-8">
                        <input class="form-control" placeholder="password" type="password"  [(ngModel)]="model.password" name="password"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Confirm New password:</label>
                    <div class="col-md-8">
                        <input class="form-control" placeholder="repeat password" type="password" [(ngModel)]="model.repeat" name="repeat"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-8 col-md-offset-3">
                        <input type="submit" class="btn btn-primary" value="Update Changes"/>
                        <span></span>
                        <input type="reset" class="btn btn-default" value="Cancel"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


