@import "../../_variables";

.container-fluid {
  font-family: $font;
  padding-left: 0;
  padding-right: 0;

  .background {
    position: relative;
    img {
      width: 1522px;
      height: 826px;
      opacity: 0.7;
    }

    .logoImage {
      width: 40%;
      height: 40%;
      margin-top: 25px;

      @media (max-width: $screen-sm) {
        width: 60%;
        height: 60%;
      }
    }

    .container {
      .wrap {
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        width: 75%;
        margin: 0 auto;

        .main {
          text-align: center;
          background: rgba(0, 0, 0, 0.28);
          color: #FFF;
          font-weight: bold;
          border: 1px solid rgba(102, 102, 102, 0.31);
          border-radius: 5px;
          h3 {
            font-size: 16px;
            text-align: left;
            padding: 30px 30px;
          }
          h1 {
            font-size: 60px;
            margin-top: 15px;
            color: $button-color-default;
            text-transform: uppercase;
            font-family: $font;
          }
          p {
            font-size: 20px;
            margin-top: 120px;
            line-height: 1.6em;

            @media (max-width: $screen-md) {
             margin-top: 90px;
            }
            @media (max-width: $screen-sm) {
              margin-top: 60px;
            }

          }

          .search {
            border: 1px solid rgba(173, 173, 173, 0.79);
            width: 35%;
            background: rgba(156, 156, 156, 0.12);
            box-shadow: inset 0px -1px 5px rgba(94, 94, 94, 0.19);
            border-radius: 5px;
            display: block;
            margin: 15px auto;

            form input {
              &[type="text"] {
                border: none;
                outline: none;
                width: 75%;
                padding: 8px;
                font-size: 12px;
                background: rgba(0, 0, 0, 0.45);
                color: $text-color;
              }
              &[type="submit"] {
                border: none;
                background: none;
                cursor: pointer;
                padding: 8px 25px;
                font-size: 13px;
                color: #EEE;
                box-shadow: inset 1px -2px 8px rgba(0, 0, 0, 0.33);
                margin: 0;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                background: #174242;
                &:hover {
                  box-shadow: inset 0px 0px 4px #222;
                  color: #FFF;
                }
              }
            }
          }
        }
      }
    }
  }
}

