<div class="imagecontainer" [style.height.px]="innerHeight">
    <div class="imagecontainer_wrapper" [style.height.px]="innerHeight">
        <img class="img-home" [src]="imageWelcome" alt="WatchFriends Welcome!" />
    </div>
    <div class="imagecontainer_content" [style.height.px]="innerHeight">
        <div class="container">
            <img class="logo" [src]="logoPng" alt="Logo Watchfriends" />
            <h1>Welcome to Watchfriends</h1>
            <p class="text-big">Track your series and follow your friends</p>
            <p class="text-big">
                <a routerLink="/register" class="btn-signUp text-big">Join Watchfriends</a>
                <a routerLink="/login" class="btn-signUp text-big">Already a member? Log in</a>
            </p>
        </div>
    </div>
</div>


<div class="imagecontainer" [style.height.px]="innerHeight">
    <div class="imagecontainer_wrapper" [style.height.px]="innerHeight">
        <img class="img-home" [src]="imageSeries" alt="WatchFriends Welcome!" />
    </div>
    <div class="imagecontainer_content" [style.height.px]="innerHeight">
        <div class="container">
            <h2>Explore thousands of series &amp; keep track of them</h2>
            <p class="text-big"><a routerLink="/register" class="btn-signUp">Explore new series</a></p>
        </div>
    </div>
</div>

<div class="contentcontainer" [style.height.px]="innerHeight">
    <div class="contentcontainer_row">
        <div class="col-md-6">
            <h2>Find &amp; track your series</h2>
            <p class="text-big">Track your series and see whats episode is next.</p>
        </div>
        <div class="col-md-6">
            <carousel interval="2000" class="carousel">
                <slide *ngFor="let poster of posters" class="item">
                    <img [src]="poster.image" [alt]="poster.title">
                    <div class="carousel-caption">
                        <p class="text-big"><a href="#">{{poster.title}}</a></p>
                    </div>
                </slide>
            </carousel>
        </div>
    </div>
</div>

<div class="imagecontainer" [style.height.px]="innerHeight">
    <div class="imagecontainer_wrapper" [style.height.px]="innerHeight">
        <img class="img-home" [src]="imageFollowers" alt="WatchFriends Welcome!" />
    </div>
    <div class="imagecontainer_content" [style.height.px]="innerHeight">
        <div class="container">
            <h2>Follow people and see their watchlist</h2>
            <p class="text-big"><a routerLink="/register" class="btn-signUp">Expand your network</a></p>
            <!--  <button class="btnLogin">Already a member? Log in</button> -->
        </div>
    </div>
</div>

<div class="imagecontainer" [style.height.px]="innerHeight">
    <div class="imagecontainer_wrapper" [style.height.px]="innerHeight">
        <img class="img-home" [src]="imageFollowers" alt="WatchFriends Welcome!" />
    </div>
    <div class="imagecontainer_content" [style.height.px]="innerHeight">
        <div class="container">
            <h2>Download the app for Android</h2>
            <p class="text-big"><a routerLink="/download" class="btn-signUp" target="_blank">Download now</a></p>
            <!--  <button class="btnLogin">Already a member? Log in</button> -->
        </div>
    </div>
</div>

<div class="contentcontainer" [style.height.px]="innerHeight">
    <div class="contentcontainer_row">
        <div class="col-md-6 col-xs-12 col-sm-12">
            <h2>Download the app for Android</h2>
            <p class="text-big">Get a better experiance.</p>
            <a href="#" target="_blank" class="googleplay"><img [src]="playStoreButton" alt="Go to Google play store" /></a>
        </div>
        <div class="col-md-6 col-xs-12 col-sm-12">
            <img [src]="androidApp" alt="Track your series" class="apppicture" />
        </div>
    </div>
</div>