@import "../../_variables";

.imagecontainer { 
  height: 1200px;
  overflow: none;
  z-index: 1;
  position: relative;
  top: -52px; 

  .imagecontainer__wrapper {
    position: absolute;
    z-index: -1;
    overflow: hidden;
  }

  .imagecontainer__content {

    background-color: rgba(0,0,0,0.5);
    z-index: 100;
    display: flex;
    align-items: center;

    .container {
      padding: 100px 0;
    }
  }
}

.btnLogin, .btnSignUp {
  color: $text-color;
  font-family: $font;
  padding: 10px;
  border: 2px solid $footer-color;
  position: relative;
  font-size: 22px;
  cursor: pointer;
  transform: opacity 0.5s;

  &:hover {
    opacity: 0.7;
  }
}

.logo{
 width: 20%;
  text-align: center;
  
}

.btnLogin {
  background-color: $button-color-default;
  left: 210px;
}

.btnSignUp {
  background-color: $nav-color;
}

@each $header, $size in (h1: 4em, h2: 3em, h3: 2em) {
  #{$header} {
    font-size: $size;
    text-align: center;
    margin-bottom: 60px;
  }
}

p.text-big {
  font-size: 1.7em;
  text-align: center;
  margin-bottom: 60px;
}