@import "../../_variables";

.images-content h1{
  position: relative;
}

.img-home--header {
  position: relative;
  top: -50px;
  z-index: -1;
}

.btnLogin, .btnSignUp {
  color: $text-color;
  font-family: $font;
  padding: 10px;
  border: 2px solid $footer-color;
  position: relative;
  font-size: 22px;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.btnLogin {
  background-color: $button-color-default;
  left: 210px;
}

.btnSignUp {
  background-color: $nav-color;
}
