@import "../../_variables";

.imagecontainer, 
footer,
.contentcontainer {
  position: relative;
  top: -52px; 
}

.contentcontainer {
  display: flex;
  align-items: center;

  .contentcontainer_row {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;

    > div {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }
}

.imagecontainer { 
  height: 1200px;
  overflow: none;
  z-index: 1;

  .imagecontainer_wrapper {
    position: absolute;
    z-index: -1;
    overflow: hidden;
  }

  .imagecontainer_content {
    background-color: $imagecontainer_content-backgroundcolor;
    z-index: 100;
    display: flex;
    align-items: center;

    .container {
      padding: 100px 0;
    }
  }
}

.btn-signUp {
  color: $text-color;
  font-family: $font;
  padding: 10px;
  border: 2px solid $footer-color;
  position: relative;
  font-size: 22px;
  cursor: pointer;
  transform: opacity 0.5s;
  background-color: $nav-color;

  &:hover {
    opacity: 0.7;
  }
}

.logo {
  display: block;
  width: 200px;
  margin: 0 auto;
}

.postercarousel { 
  display: flex;
  flex-direction: row;

  img {
    &:nth-child(1) {
      width: 50%;
    }

    &:nth-child(2) {
      width: 40%;
      height: 40%;
    }
  }
}

.googleplay {
  text-align: center;

  img {
    width: 50%;
  }
}

.apppicture {
  position: relative;
  top: 196px;
  z-index: 1;
}

@each $header, $size in (h1: 4em, h2: 3em, h3: 2em) {
  #{$header} {
    font-size: $size;
    text-align: center;
    margin-bottom: 60px;
  }
}

p.text-big {
  font-size: 1.7em;
  text-align: center;
  margin-bottom: 60px;
}