<div class="container">
    <section class="home-section">
        <h1>Welcome to Watchfriends</h1>
        <div class="wrapper">
            <!--  <h2>Watchfriends is an online platform where you can track series you have watched</h2> -->
            <img class="img-home" [src]="imageWelcome" alt="WatchFriends Welcome!"/>

            <button class="btnSignUp">Join Watchfriends</button>
            <button class="btnLogin">Already a member? Log in</button>
        </div>
    </section>
    <section class="home-section">
        <h1>Series</h1>
        <div class="wrapper">
            <!--  <h2>Searching for a series to track?</h2> -->
            <img class="img-home" [src]="imageSeries" alt="Searching for a series?"/>

            <button class="btnSignUp">Explore new series</button>
        </div>
    </section>
    <section class="home-section">
        <h1>Followers</h1>
        <div class="wrapper">
            <!-- <h2>Choose who you want to follow </h2>
            <h2>Keep track of their series</h2> -->
            <img class="img-home" [src]="imageFollowers" alt="Keep track your followers' series!"/>
            <button class="btnSignUp">Expand your network</button>
        </div>
    </section>
</div>