@import "../_variables";


footer {
  margin-top: $footer-header-margin;
  background-color: $footer-color;
  width: 100%;
  padding: 15px 0;
  margin: 0;

  p {
    text-align: center;
    font-size: 20px;
    color: $text-color;
  }
}
