@import "../_variables";


footer {
  margin-top: $footer-header-margin;
  background-color: $footer-color;
  height: 50px;
  position: fixed;
  width: 100%;
  bottom: 0;

  p {
    text-align: center;
    padding: 85px;
    font-size: 20px;
  }
}
