@import "../_variables";

footer {
  background-color: $footer-color;
  width: 100%;
  margin: 0;
  margin-top: -$footer-size;
  z-index: 9999;

  height: $footer-size;

  p {
    text-align: center;
    font-size: 20px;
    color: $text-color;
    margin-bottom: 0;
  }
}

.content-wrap {
  min-height: 100%;
}