@import "../../_variables";
@import "../sheared/serieslist";
@import "../sheared/submenu";

.row {
  margin: 0;
}

.container-fluid {
  padding: 0;

  .bg-splice {
    height: 450px;

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
    }
    @media (max-width: $screen-lg) {
      height: 400px;
    }
  }
}

.shadow {
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 40px;
}

.container-profile {
  text-align: center;
  position: absolute;
  top: 140px;
  margin: 0 auto;
  width: 100%;
  left: 0;
  z-index: 1;
  overflow: hidden;

  h4 {
    margin-bottom: 20px;
  }

  img {
    border: 5px solid $button-color-default;
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
}