<div class="container-fluid" *ngIf="user">
    <div class="row bg-splice">
        <img [src]="backgroundProfile" alt="Profile Background" />
    </div>

    <div class="container">
        <div class="container-profile">
            <img [src]="profilePicture" alt="Profile" />
            <h1><b>{{user.name.givenName}}</b> {{user.name.middleName}} {{user.name.familyName}}</h1>
            <p *ngIf="followers" class="h4">{{followers.length}} followers</p>
            <a *ngIf="id" class="btn btn-lg" [class.btn-success]="!following" [class.btn-warning]="following" 
            (click)="updateFollowing(!following)"><span class="glyphicon glyphicon-user"></span> Follow</a>
        </div>
    </div>

    <div class="shadow">
        <div class="container">
            <nav class="submenu">
                <div class="col-md-6">
                    <a data-hover="My Watchlist" class="submenu-item active" 
                    (click)="changeContent(0)">My Watchlist <span class="shadow-submenu_counter">{{series.length}}</span></a>
                </div>
                <div class="col-md-6">
                    <a data-hover="Achievements" class="submenu-item" 
                    (click)="changeContent(1)">Achievements <span class="shadow-submenu_counter">{{achievements.length}}</span></a>
                </div>
            </nav>
        </div>
    </div>

    <div class="row" [style.display]="watchlistDisplay">
        <wfseries [series]="watchlist" apiUrl="bestaat niet" page="1" totalPages="1"></wfseries>
    </div>
    
    <div class="row bodybackground" [style.display]="achievementDisplay">
        <div *ngIf="achievements.length == 0">
            <p class="h4">Track or follow your series to collect achievements.</p>
        </div>
        <div *ngIf="achievements.length != 0">
            <div *ngFor="let item of achievements; let i = index" class="achievementscontainer">
                <h3>{{item.name}} ({{item.status}})</h3>
                <p class="h4">{{transformDescription(item.description, item.collected)}}</p>
                <div [innerHTML]="transformHtml(item.image)" [class]="item.status"></div>
                <div *ngIf="item.status != 'gold'">
                    <p class="bold h4">Progress till next achievement:</p>
                </div>
                <div *ngIf="item.status == 'gold'">
                    <p class="bold h4">Completed!</p>
                </div>
                <p class="h4">{{item.progress}}/{{item.next}}</p>
            </div>
        </div>
    </div>
</div>