<div *ngIf="seasons.length === 0">
    <p class="h4 text-center">No seasons found</p>
</div>
<div *ngIf="seasons.length !== 0">
    <section *ngFor="let item of seasons; let i=index" class="seasoncontainer">
        <div class="seasoncontainer_wrapper">
            <a [routerLink]="'/series/' + seriesId + '/season/' + item.season_number">
                <img [src]="item.poster_path | posterImage" [alt]="'season' + item.season_number" class="image-responsive" />
            </a>
        </div>
        <div class="seasoncontainer_content">
            <h3><span *ngIf="item.season_number === 0">Specials</span><span *ngIf="item.season_number !== 0">Season {{item.season_number}}</span></h3>
            <p>
                <span class="glyphicon glyphicon-eye-open"></span>
            </p>
        </div>
    </section>
</div>