body {
    width: 100%;
    background-color: #31353D;;
    margin: 0;
    color: #EEEFF7;
    font-family: 'Oswald', sans-serif;

}

.container {
    margin-right: auto;
    margin-left: auto;
    width: 60%;

}

header {
    margin-bottom: 30px;
}

nav {
    height: 70px;
    background-color: #445878;
}

body section {

}

.home-section h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;

}

.wrapper {
    position: relative;
    padding: 15px;
    height: 500px;
    background-image: url(http://cdn1-www.comingsoon.net/assets/uploads/gallery/the-walking-dead-season-7/the-walking-dead-season-7-rick-lincoln-michonne-gurira-cci-key-art-1200x707-1.jpg);
}

.btnLogin{
    background-color: #92CDCF;
    color: #EEEFF7;
    font-family: 'Oswald', sans-serif;
    padding: 10px;
    border: 2px solid #1C1D21;
    position: absolute;
    font-size: 22px;
    top:460px;
    left:210px;



}

.wrapper[target=_imgSerie]{
    background-image: url("https://i.ytimg.com/vi/pvqZ7di5O_8/maxresdefault.jpg");
}

.wrapper[target=_imgFollowers]{
    background-image: url("http://www.ew.com/sites/default/files/i/2015/06/23/minions.jpg");

}
.btnSignUp{
    background-color: #445878;
    color: #EEEFF7;
    font-family: 'Oswald', sans-serif;
    padding: 10px;
    border: 2px solid #1C1D21;
    position: absolute;
    top: 460px;
    font-size: 22px;
}
.btnLogin:hover{
    opacity: 0.7;
    cursor: pointer;
}
.btnSignUp:hover{
    opacity: 0.7;
    cursor: pointer;
}

h2{
    font-size: 28px;
}


footer{
    margin-top: 30px;
    background-color: #1C1D21 ;
    height:200px;
}

footer p{
    text-align: center;
    padding: 85px;
    font-size: 20px;
}