@import url(http://fonts.googleapis.com/css?family=Ubuntu|Courgette);
@import url(http://weloveiconfonts.com/api/?family=entypo);

$green: #2ecc71;
$green-dark: #27ae60;
$facebook: #3b5998;
$twitter: #56b4ef;
$googleplus: #dd4b39;


.container{
  margin-top: 280px;

  h1{
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
}
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

* {
  font-family: 'Ubuntu', sans-serif;

  box-sizing: border-box;
  transition: all 0.2s ease-out;

  backface-visibility: hidden;
}

div.loginpanel {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  margin: 0 auto;

  position: relative;
  top: 50%;

  transform: translateY(-50%);

  background-color: #353e50;

  border-radius: 4px;


  box-shadow: 0 0 5px 1px #333;

  a.register {
    color: #878787;
    text-decoration: none;

    transition: all 0s;

    &:before {
      padding-right: 6px;
    }

    &:hover {
      color: $green;
      text-shadow:
              0 1px #555;
    }

    &:active {
      text-shadow:
              0 -1px #555;
      transform: translateY(2px);
    }
  }

  input {
    width: 100%;
    margin: 8px 0px;
    padding: 12px;
  }

  div.txt {
    position: relative;

    input[type="text"], input[type="password"] {
      color: #878787;
      text-shadow: 0 1px #FFF;
      border: 1px solid #888;
      border: 2px solid transparent;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      outline: none;

      background-color: fade(#FFF, 80%);

      &:hover, &:focus {
        background-color: #FFF;
      }

      &:focus {
        border-color: $green-dark;
      }
    }

    label {
      cursor: text;

      &:before {
        display: inline-block;
        position: absolute;
        left: 0px;
        top: 0px;

        font-family: 'entypo', sans-serif;
        font-size: 1.1em;
        color: $green;
        line-height: 58px;

        text-align: center;

        width: 50px;
        height: 50px;
      }
    }
  }

  div.buttons {
    display: flex;

    input {

      flex: 1;
      width: 100%;
    }

    span {
      a {
        display: inline-block;
        vertical-align: middle;
        padding: 0 15px;
        line-height: 70px;
        text-align: center;
      }
    }
  }

  input[type="submit"] {
    cursor: pointer;

    color: #FFF;
    text-shadow: 0 1px $green-dark;
    font-size: 1.2em;

    border: 0 none;
    border-radius: 4px;
    outline: none;

    background-color: $green;


    box-shadow:
    0 2px $green-dark,
    inset 0 0 $green-dark;

    &:hover, &:focus {
      background-color: darken($green, 5%);
      box-shadow:
      0 2px darken($green-dark, 5%),
      inset 0 0 $green-dark;
    }

    &:active {

      box-shadow:
              0 0 darken($green-dark, 5%),
              inset 0 1px darken($green-dark, 5%);

      transform: translateY(2px);

      transition: all 0s;
    }
  }

  div.social {

    display: flex;

    margin-bottom: 10px;

    a {
      display: inline-block;
      flex: 1;
      text-align: center;
      text-decoration: none;
      outline: none;

      &:before {
        display: inline-block;
        padding: 0;
        font-family: 'entypo', sans-serif;
        font-size: 2em;
        color: #878787;
        line-height: 50px;
        text-align: center;
        text-shadow: 0 1px fade(#FFF, 40%);
        transition: all 0.2s ease-out;
        border-radius: 50%;

        width: 50px;
        height: 50px;
      }

      &:hover:before, &:focus:before {
        color: #FFF;
        transition: all 0.2s ease-out, box-shadow 0.3s ease-out 0.1s;
      }

      &:active:before {
        transform: scale(0.9);

        transition: all 0s;
      }

      &.facebook {
        &:before {
          content: "\f30c";
        }

        &:hover:before, &:focus:before {
          text-shadow: 0 1px darken($facebook, 20%);
          background-color: $facebook;
          box-shadow: 0 0 0 4px fade($facebook, 60%);
        }

        &:active:before {
          box-shadow:
                  0 0 0 4px fade($facebook, 60%),
                  0 0 0 4px #333,
                  0 1px 0 4px fade(#FFF, 60%);
        }
      }

      &.twitter {
        &:before {
          content: "\f309";
        }

        &:hover:before, &:focus:before {
          text-shadow: 0 1px darken($twitter, 20%);
          background-color: $twitter;
          box-shadow: 0 0 0 4px fade(darken($twitter, 10%), 60%);
        }

        &:active:before {
          box-shadow:
                  0 0 0 4px fade($twitter, 60%),
                  0 0 0 4px #333,
                  0 1px 0 4px fade(#FFF, 60%);
        }
      }

      &.googleplus {
        &:before {
          content: "\f30f";
        }

        &:hover:before, &:focus:before {
          text-shadow: 0 1px darken($googleplus, 20%);
          background-color: $googleplus;
          box-shadow: 0 0 0 4px fade($googleplus, 60%);
        }

        &:active:before {
          box-shadow:
                  0 0 0 4px fade($googleplus, 60%),
                  0 0 0 4px #333,
                  0 1px 0 4px fade(#FFF, 60%);
        }
      }
    }
  }

  div.hr {
    display: flex;

    width: 100%;

    margin: 40px 0;

    color: #878787;
    text-shadow: 0 1px fade(#FFF, 40%);

    div {
      font-family: 'Courgette', cursive;
      font-size: 1.2em;

      &:first-child, &:last-child {
        flex: 1;

        position: relative;

        &:before {
          content: ' ';
          position: absolute;
          top: 50%;
          left: 0px;
          right: 0px;

          height: 1px;

          background-color: #5F5F5F;

          box-shadow: 0 1px 0 fade(#FFF, 20%);
        }
      }

      &:first-child {
        margin-right: 20px;
      }

      &:last-child {
        margin-left: 20px;
      }
    }
  }
}

.resp-info:before {
  content: 'full';
  position: fixed;
  bottom: 10px;
  left: 10px;
  color: #F00;
}

@media only screen and (max-width:555px){
  div.loginpanel {
    width: 90%;

    div.buttons {
      flex-direction: column;

      span {
        width: 100%;
        a {
          width: 100%;
          line-height: 40px;
        }
      }
    }
  }
  .resp-info:before {
    content: 'max 555';
  }
}
@media only screen and (max-width:400px){
  div.loginpanel {
    width: 100%;
    border-radius: 0;
  }
  .resp-info:before {
    content: 'max 400';
  }
}
