.submenu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  div {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  @media (max-width: $screen-sm) {
    font-size: 0.6em;
  }

  .submenu-item_active {
    border-bottom: 3px solid $button-color-default;
  }

  a {
    padding: 10px 0;
    position: relative;
    display: inline-block;
    margin: 15px 25px;
    color: $text-color;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 2em;
    text-align: center;

    .shadow-submenu_counter {
        display: inline-block;
        padding: 2px 5px;
        font-size: 0.9em;
        font-weight: 600;
        line-height: 1;
        color: #666;
        background-color: #eee;
        border-radius: 20px;

        @media (max-width: $screen-sm) {
            font-size: 12px;
        }
    }

    &:not(.submenu-item_active){
      // lijntje dat erbij komt als je erover howert.
      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background: $button-color-default;
        opacity: 0;
        transform: translateY(5px);
        transition: transform 0.3s, opacity 0.3s;
        pointer-events: none;
      }
      &:hover::after, &:focus::after {
        opacity: 1;
        transform: translateY(0px);
      }
    }
  }
}

