<div *ngIf="series.length === 0">
    <p class="h4">No series found</p>
</div>
<div *ngIf="series.length !== 0">
    <section *ngFor="let item of series; let i=index" class="seriescontainer" [class.seriescontainer-big]="i<2">
        <a [routerLink]="['/series', item.id]" class="seriescontainer_wrapper">
            <img [src]="item.backdrop_path | seriesImage" [alt]="item.name" class="image-responsive" />
        </a>
        <div class="seriescontainer_content">
            <h3>{{item.name}}</h3>
            <p>
                <span class="glyphicon glyphicon-eye-open"></span>
                <span class="glyphicon" [class.glyphicon-plus]="!item.following" [class.glyphicon-ok]="item.following" 
                 (click)="changeFollowed(item)" [tooltip]="(item.following ? 'unfollow' : 'follow') + ' this series'"></span>
            </p>
        </div>
    </section>

    <div *ngIf="page !== totalPages">
        <section class="seriescontainer">
            <a class="seriescontainer_wrapper" (click)="loadmore()">
                <img src="/assets/images/imageloadmore.png" alt="load more" class="image-responsive" />
            </a>
            <div class="seriescontainer_content">
                <h3>Load more</h3>
                <p>
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </p>
            </div>
        </section>
    </div>
</div>