<div class="container-fluid">
    <div class="container">
        <nav class="submenu">
            <div class="col-md-6">
                <a data-hover="Series" class="submenu-item active" (click)="changeContent(0)">Series <span
                        class="shadow-submenu_counter">{{page.total_results}}</span></a>
            </div>
            <div class="col-md-6">
                <a data-hover="Users" class="submenu-item" (click)="changeContent(1)">Users <span
                        class="shadow-submenu_counter">{{users?.length || 0}}</span></a>
            </div>
        </nav>
    </div>

    <div class="row" [style.display]="seriesListDisplay">
        <wfseries [series]="page.results" [loadmore]="false"></wfseries>
        <div (click)="loadmore()">
            <wfseries [loadmore]="true" [style.display]="page.page === page.total_pages ? 'none' : 'block'"></wfseries>
        </div>
    </div>


    <div class="row" [style.display]="usersDisplay">
        <div *ngIf="!users">
            <p class="h4">No users where found matching your description.</p>
        </div>
        <div *ngIf="users">
            <div *ngFor="let item of users; let i=index" class="seriescontainer">
                <a [routerLink]="['/profile', item.id]" class="seriescontainer_wrapper">
                    <img [src]="item.bgimage" [alt]="item.name" class="image-responsive bgImage"/>
                    <div class="container-profile">
                        <img [src]="item.profileImage || userNotFound" [alt]="item.name" class="pfImage"/>
                    </div>
                </a>
                <div class="seriescontainer_content">
                    <h3 [class.big-title]>{{item.name}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>